* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-left: 200px;
}

.btn {
    position: absolute;
    white-space: nowrap;
    right: 500px;
    top: 30px;
}

.icon {
    position: absolute;
    right: 350px;
    top: 30px;
}
.all-text-1{
    position: absolute;
    top: 200px;
    left: -300px;
}
.text-1, .text-2{
    color: grey;
}
.all-text-2{
    position: absolute;
    top: 200px;
    right: -250px;
}
.header {
    background-color: #252324;
    width: 100%;
    height: 100px;
    animation: slide-down 0.8s ease-in-out;
}
.image-1, .image-2 {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}

.image-1 {
    left: -100px; 
    animation: move-left 1s ease-in-out forwards;
}

.image-2 {
    right: -100px;
    animation: move-right 1s ease-in-out forwards;
}
.image-1 img, .image-2 img {
    width: auto;   
    height: 500px;  
}
footer {
    text-align: center;
    background-color: #DCDCDC;
    padding: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text{
    position: absolute;
    top: 250px;
    left: 250px;
}
.dream-text {
    text-align: center;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@keyframes move-left {
    from {
        left: -100px;
        opacity: 0;
    }
    to {
        left: 50%;
        transform: translateX(-100%);
        opacity: 1;
    }
}

@keyframes move-right {
    from {
        right: -100px;
        opacity: 0;
    }
    to {
        right: 50%;
        transform: translateX(100%);
        opacity: 1;
    }
}


@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}